/* 
.base-navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-bottom: 1rem;
  }
  .base-navbar a {
    color: black;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    background-color: transparent;
    font-family: "Bembo Regular";
    text-transform: uppercase;
    letter-spacing: 0.125rem;
  }
  .base-navbar a:hover {
    color: #00008c;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
  }
  .base-navbar a.active {
    color: #00008c;
  }
  .nav-fixed {
    position: fixed;
    left: 0rem;
    top: 0rem;
    right: 0rem;
    z-index: 1000;
    background-color: #020b61;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
  }
  .nav-fixed a {
    color: white;
  } */
html,
body {
    height: 100%;
    margin: 0;
}
.base-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.base-button {
    background-color: transparent;
    font-size: 2rem;
    margin: 1rem;
    cursor: pointer;
}
.base-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
}